*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    transition: all 300ms ease-in;
}

body{
    background-color: rgb(0, 3, 0);
}
body.shadow{
    box-shadow: 1px 1px 50px green inset;
    
}


h1, span{
    color: rgb(62, 236, 39);
}
span{
    font-size: 16px;
}


#main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#container{
    display: grid;
    grid-template-columns: 20px 350px ;
    grid-template-rows: 20px 20px 20px;
    gap: 10px;
}


#greenBar{
    width: 500px;
    height: 16px;
    padding: 2px;
    border: 1px solid rgb(62, 236, 39);
    overflow: hidden;
}
#fill{
    height: 16px;
    width: 0;
    background-color: rgb(62, 236, 39);
}
